.banner-image {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.18) 0%,
		rgba(0,0,0,0.18) 50%), image-url('banner.jpg');
// background-image: image-url('banner-image.jpg');
width: 100%;
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}

h1 h2 h3 h4 p {
	font-family: dosis-regular;
	color:#12100E;
}

h1, h2, h3, h4{
// text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
letter-spacing:10px;
// rgba(1, 1, 1, 0.5)
// red green blue [alpha = opacity]
}

h1{
	font-size:22px;
}

h2{
	font-size:18px;
}

h3{
	font-size:15px;
	letter-spacing:2px
}

h4{
	font-size:20px;
	letter-spacing:2px
}


p{
	font-size:13px;
	letter-spacing: 2px;
	color:gray;
	font-weight: lighter;
	margin-bottom:15px;
	font-family: dosis-regular;
}

a{
	color:white;
	text-decoration: none;
	opacity:1;
}

a:hover{
	color: white;
	background-color:#12100E;
	text-decoration:none;
}
a:focus{
	color: white;
	background-color:#12100E;
	text-decoration:none;
}

#banner{
	position:relative;
	color: white;

}

.header-1 {
	letter-spacing: 26px;
	margin-top: -50px;
	font-weight:300;
	color:white;
}
