<    <section id="banner">  
      <div class="wrapper-home">
        <div class="banner-image">
          <div>
            <h1 class="header-1">MARJOLIJN BIJMAN</h1>
            <h2>INTERIOR ARCHITECT</h2>
            <h3> Site Under Construction</h3>
            <%=mail_to "marjolijnbijman@gmail.com", "contact : marjolijnbijman@gmail.com", class: "link"%>
          </div>
        </div>
      </div>
    </section>